<div id="section3" class="container-fluid" style="padding-top:70px; padding-bottom:70px; background-color: whitesmoke;">
    <div class="row">
        <div id="aboutustext" class="col-6 col-md-6 col-lg-6  col-xl-4" style="padding-left:19%; ">
            <h2 >ABOUT US</h2>
            <p >Its long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
        <div id="aboutusIMAGE" class="col-6 col-md-6 col-lg-6  col-xl-4" style="padding-left:10%; ">
            <img src="assets/images/chess.jpg" class="img-fluid"  style="width:420px;">
        </div>
    </div>    
</div>
