<div id="section2" class="container" >
    <h1 style="text-align: center;padding-top:70px; padding-bottom:70px;">OUR PRODUCT</h1>
    <div class="row" style=" padding-bottom:70px;">
        <div id="product1" class=" col-4 col-md-4 col-lg-4  col-xl-4">
            <img src="assets/images/circle.png" style="width:40px;" class="mx-auto d-block">
            <h2 class="text-center" >SEO</h2>
            <p style="text-align: center;">It is a long established fact that a reader will be distracted by the.</p>
        </div>
        <div id="product2" class=" col-4 col-md-4 col-lg-4  col-xl-4">
            <img src="assets/images/circle.png" style="width:40px;" class="mx-auto d-block">
            <h2 class="text-center">Branding</h2>
            <p style="text-align: center;">It is a long established fact that a reader will be distracted by the.</p>
        </div>
        <div id="product3" class=" col-4 col-md-4 col-lg-4  col-xl-4">
            <img src="assets/images/circle.png" style="width:40px;" class="mx-auto d-block">
            <h2 class="text-center">Logo</h2>
            <p style="text-align: center;">It is a long established fact that a reader will be distracted by the.</p>
        </div>
    </div>
</div>